*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  height: 100%;
  width: 100%;
}

:root{
  --white: #ffff;
  --bg: #E1F7F5;
  --secbg: #BEC6A0;
  --terbg: #606676;
  --cardbg: #D6EFD8;
  --titles: #508D4E;
  --subtls: #80AF81;
  --bord: #1A5319;
  --primary: #201E43;
  --secundary: #134B70;
  --terciary: #508C9B;

}

body{
  background-color: var(--white);
  padding: 20px;
}

a{
  text-decoration: none;
}

a:visited{
  color: currentColor;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  background-color: transparent;
  box-shadow: 0 3px 3px #0000001a;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}


.App{
  width: 100%;
  height: 730px;
  background-color: var(--bg);
  box-shadow: 1px 1px 2px 1px #606676;
  overflow: hidden;
  transition: opacity 500ms ease, transform 500ms ease;
}

.BodyApp{
  
  height: 520px;
  width: 100%;
  overflow: hidden;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerlogo{
  height: 60px;
  margin: 5px;
}

.btnmenu{
 height: 60%;
 width: 80px;
 text-align: left;
 border: none;
 background-color: transparent;
 border-left: 2px solid var(--primary);
 color: var(--secundary);
 padding-left: 10px;
 line-height: 40px;
 font-size: 20px;
 font-weight: 600;
 font-family: monospace;
 cursor: pointer;
 text-transform: uppercase;
 letter-spacing: 3px;
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 30px;
}

.contactlabel{
  color: #134B70;
  font-size: 20px;
}

.contact > svg {
  height: 40px;
  width: 40px;
  stroke: var(--primary);
  
}

.mainmenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  background-color: var(--terciary);
  color: #201E43;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity 500ms ease, transform 500ms ease;
}

.navcolum,.rscolum{
  height: 100%;
  width: 50%;
  list-style: none;
  padding: 20px;
}

.rscolum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navlink{
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 3px;
}

.navlink:hover{
  color: var(--bg);
  transition: 300ms;
  transform: translateX(20px);
}

.navlink:active{
  transition: 100ms;
  transform: translateX(-15px);
}

.secfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100px;
}

.copy{
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconft {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}